.rowWithBackground {
  border: solid black 1px;
}

.data {
  text-align: center; /* Adjust text alignment if needed */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

/* Add other styles as needed */
.tableHeader{
    background-color: black;
    margin-top: 10px;
    color: #f0f0f0;
}
.custom-table{
    width:100%;
}
.tableHeader > tr{
   text-align: center;
}
.custom-table{
   margin-top: 10px;
}
.btn{
    margin: 10px 0px 10px 0px;
}